# ignore MySQL database files (data files, logs, cache, sensitive information, etc)
/infra/mysql-data/
/infra/hdfs-data/

# ignore .env
.env
data_pipeline/configs/.env
data_pipeline/configs/.env.secret