# ignore MySQL database files (data files, logs, cache, sensitive information, etc)
/infra/mysql-data/

# allow upload the Hive metastore
!/infra/mysql-data/metastore/
!/infra/mysql-data/metastore/**

# ignore the original-data CISS_2021.dmp
/infra/original-data/CISS_2021.dmp